{% extends 'base.html.twig' %}
{% block body %}
	<div class="mt-5 {{ is_mobile() ? 'p-3' : 'p-5 d-flex justify-content-center' }} resetPassContainer">
		<div class="cardExtra {{ is_mobile() ? '' : 'col-9 pt-3' }}">
			<div class="cardBox d-flex justify-content-center">
				<div class="col-md-10 col-lg-12 mt-3">
					<p>
						If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
						        This link will expire in
						{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
					</p>
					<p>If you don't receive an email please check your spam folder or
						<a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
