<div class="loadingData {% block containerClass %}{% endblock containerClass %}">
	<div class="d-flex flex-column">
		<div class="loadTitle mx-auto text-center">{{'loading'|trans({},'general')}}</div>
		<i class="far fa-compass fa-spin mx-auto"></i>
	</div>
</div>
