<div class="websale-form-group">
	{% set formAttr = noValidate is not defined or noValidate != 'false' ? {'attr': {'novalidate': 'novalidate'}} : {} %}
	{{form_start(form, formAttr)}}
	{{form_widget(form)}}
	{{form_end(form)}}
</div>
