$primary-color: blue;
$primary-color-rgb: var(--primary-color-rgb);
$primary-accent-color: var(--primary-accent-color);
$secondary-color: var(--secondary-color);
$secondary-color-rgb: var(--secondary-color-rgb);
$primary-text-color: black;
$secondary-text-color: white;
$card-background-color: #f3f3f3;
$scrollbar-color: var(--scrollbar-color);
$error-color: red;
$success-color: green;
$white-color: white;
$warning-color: yellow;
$border-color: gray;

$info-btn-primary-color: #c6ffff;
$info-btn-secondary-color: #178f8e;

$lightGrey: #bdc3c7;
$darkGrey: #b3b3b3;
$darkerGrey: #9f9f9f;
