<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# <link rel="icon" href="{{absolute_url(asset('Assets/General/images/websalesfav.png'))}}"> #}
		{{ include('styles.html.twig') }}
		{{ include('Scripts/scriptsHeader.html.twig') }}
	</head>
	<body>
		{% block body %}{% endblock %}
		{{ include('Scripts/scriptsFooter.html.twig') }}
	</body>
</html>
