{% extends 'base.html.twig' %}

{% block bodyClass 'nav-md' %}
{% block body %}
	<div class="container body ">
		<div class="main_container">
			{% block bars %}{% endblock %}
		</div>
	</div>
	<script>
		$j(document).on("_page_ready", function () {
helper.initDashboard();
helper.initSidebar();
});
	</script>
{% endblock %}
